<div class="container-fluid">
  <div class="row">
    <div class="col-xs-3" (click)="setProgress(1)" style="cursor: pointer">
      <span *ngIf="progress > 0" class="material-icons accent">check_circle</span>
      <span *ngIf="progress <= 0" class="material-icons">panorama_fish_eye</span>
    </div>

    <div class="col-xs-3" (click)="setProgress(2)" style="cursor: pointer">
      <span *ngIf="progress > 1" class="material-icons accent">check_circle</span>
      <span *ngIf="progress <= 1" class="material-icons">panorama_fish_eye</span>
    </div>

    <div class="col-xs-3" (click)="setProgress(3)" style="cursor: pointer">
      <span *ngIf="progress > 2" class="material-icons accent">check_circle</span>
      <span *ngIf="progress <= 2" class="material-icons">panorama_fish_eye</span>
    </div>

    <div class="col-xs-3" (click)="setProgress(4)" style="cursor: pointer">
      <span *ngIf="progress > 3" class="material-icons accent">check_circle</span>
      <span *ngIf="progress <= 3" class="material-icons">panorama_fish_eye</span>
    </div>
  </div>
</div>
